name: Render keep-alive ping

on:
  schedule:
     - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  keep-alive:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render backend
        run: curl -s https://web-backend-0aiv.onrender.com > /dev/null
